@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.font-handlee {
  font-family: 'Handlee', cursive;
}


@import url('https://fonts.googleapis.com/css2?family=Geist+Sans&family=Geist+Mono&display=swap');

.geist-sans {
  font-family: 'Geist Sans', sans-serif;
}

.geist-mono {
  font-family: 'Geist Mono', monospace;
}